.section {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 15px;
  min-width: 200px;
  cursor: pointer;
  color: grey;
  border-width: 0 !important;
}
.section--selected {
  background-color: #fff;
  border-width: 3px !important;
}
.section:hover {
  background-color: #fff;
  border-width: 3px !important;
}
.section > h4 {
  font-size: 14px;
  font-weight: 400;
}
