.headerOption {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-right: 20px;
  cursor: pointer;
  flex-direction: column;
}
.headerOption:hover {
  color: black;
}
.headerOption_title {
  font-size: 12px;
  font-weight: 400;
}
.headerOption_icon {
  object-fit: contain;
  height: 20px !important;
  width: 20px !important;
}
